body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}
.header {
    background-color: #7995D8;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    color: #EF6C57;
    font-weight: bold;
}

.header-logo {
    position: static;
    top: 10px;
    bottom: 20px;
    color: #EF6C57;
    cursor: pointer;
}

.user-name {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #EF6C57;
}
.logout-button {
    position: absolute;
    top: 10px;
    right: 20px;
}

.logout-button form {
    display: inline;
}

.logout-button button {
    background: none;
    border: none;
    color: #EF6C57;
    cursor: pointer;
    font-size: 22px;
    font-weight: bolder;
    padding: 0;
    font-family: inherit;
}

.logout-button button:hover {
    color: #d9534f;
}
