
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}

.form-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-container h2 {
    color: #EF6C57;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.form-container input, .form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    background-color: #EF6C57;
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #D55545;
}

.error-message {
    background-color: #f8d7da; /* Рожевий колір фону */
    border: 1px solid #f5c6cb; /* Рожевий колір межі */
    color: #721c24; /* Темно-червоний колір тексту */
    padding: 10px 20px; /* Відступи всередині */
    border-radius: 5px; /* Закруглені кути */
    margin: 10px 0; /* Відступи зверху та знизу */
    font-family: Arial, sans-serif; /* Шрифт */
    font-size: 14px; /* Розмір шрифту */
}

.error-message strong {
    font-weight: bold; /* Жирний текст */
}
