<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/noteform.css">
</head>

<body>
<div th:replace="header :: header"></div>

<div class="form-page-container">
    <div class="form-container">
        <form th:action="@{/login}" method="post">
            <h2>Login</h2>
            <div class="error-message" th:if="${param.error}">
                Invalid username or password.
            </div>
            <div class="error-message" th:if="${param.logout}">
                You have been logged out.
            </div>
            <br>
            <label> Username : <input type="text" name="username"/> </label>
            <label> Password: <input type="password" name="password"/> </label>
            <button type="submit">Sign In</button>
        </form>
    </div>
</div>

</body>
</html>