<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <title>Note Form</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/noteform.css">
</head>
<body>
<div th:replace="header :: header"></div>

<div class="form-page-container">
    <div class="form-container">
        <h2 th:text="${note.id == null} ? 'Створити запис' : 'Редагувати'">Create Note</h2>
        <form th:action="${note.id == null} ? '/create' : '/edit/' + ${note.id}" th:object="${note}" method="post">
            <label for="title">Заголовок</label>
            <input type="text" id="title" th:field="*{title}" required>
            <label for="content">Текст</label>
            <textarea id="content" th:field="*{content}" rows="5" required></textarea>
            <button type="submit">Зберегти</button>
        </form>
    </div>
</div>
</body>
</html>
