<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="uk">
<head>
    <title>MyNote</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="gritting-container">
    <div class="gritting-message-container">
        <h1>Привіт!</h1>
        <div>
            Це простий веб-додаток для створення та зберігання нотаток.
            <br>
            Щоб почати користуватись нотатками, ви можете
            <span class="link-button" onclick="window.location.href='/login'">увійти</span> або
            <span class="link-button" onclick="window.location.href='/registration'">зреєструватися</span>.
        </div>
    </div>
</div>
</body>
</html>
